@font-face {
    font-family: "ullikumiA";
    src: local("UllikumiA"), url(./fonts/UllikummiA.ttf) format("truetype");
    unicode-range: U+12000-3FF;
}

@font-face {
    font-family: "Noto Sans";
    src: local("Noto Sans"), url(./fonts/NotoSansAnatolianHieroglyphs-Regular.ttf) format("truetype");
    src: local("Noto Sans"), url(./fonts/NotoSansArmenian-Regular.ttf) format("truetype");
    src: local("Noto Sans"), url(./fonts/NotoSansAvestan-Regular.ttf) format("truetype");
    src: local("Noto Sans"), url(./fonts/NotoSansCarian-Regular.ttf) format("truetype");
    src: local("Noto Sans"), url(./fonts/NotoSansCypriot-Regular.ttf) format("truetype");
    src: local("Noto Sans"), url(./fonts/NotoSansDevanagari-Regular.ttf) format("truetype");
    src: local("Noto Sans"), url(./fonts/NotoSansLinearB-Regular.ttf) format("truetype");
    src: local("Noto Sans"), url(./fonts/NotoSansLycian-Regular.ttf) format("truetype");
    src: local("Noto Sans"), url(./fonts/NotoSansLydian-Regular.ttf) format("truetype");
    src: local("Noto Sans"), url(./fonts/NotoSansOgham-Regular.ttf) format("truetype");
    src: local("Noto Sans"), url(./fonts/NotoSansOldItalic-Regular.ttf) format("truetype");
    src: local("Noto Sans"), url(./fonts/NotoSansOldPersian-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Noto Mono";
    src: local("Noto Mono"), url(./fonts/NotoMonoRegular.ttf) format("truetype");
}