body {
  margin: 0;
  font-family: "Noto Sans Mono";
  background-color: #f1f1f1;
}

div#main{
  display: grid;
  grid-row-gap: 1.5em;
  margin: 1em;
}

code {
  font-family: "Noto Sans Mono";
}

h1 {
  text-align: center;
  font-family: "Noto Sans Mono";
}

textarea{
    font-size: 16pt;
}

textarea#input{
    font-family: "Noto Sans";
}

textarea#output{
    font-family: "Noto Sans";
}

h6 {
    text-align: center;
}
